.card {
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1.3;
    padding: 30px;
    perspective: 1000px;
    overflow: hidden;
    cursor: pointer;
    transform-style: preserve-3d;
}

.card-inner {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    transition: transform 0.6s cubic-bezier( 0.645, 0.045, 0.355, 1 );
    transform-style: preserve-3d;
}

.flipped .card-inner {
    transform: rotateY(180deg);
}

.front, .back {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    height: 90%;
    width: 86.5%;
    background-color: var(--contrast-accent);
    padding: 20px;
    border-radius: 30px;
    box-shadow: 0px 0px 10px var(--shadow);
    transition: 0.3s;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
}

.card:not(.flipped):hover .front {
    box-shadow: 10px 10px 15px var(--shadow);
    transform: rotateZ(-2deg) scale(1.02);
}

.card.flipped:hover .back {
    box-shadow: 10px 10px 15px var(--shadow);
    transform: rotateY(180deg) rotateZ(-2deg) scale(1.02);
}

.front-img-bg {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: transparent;
    width: 100%;
    aspect-ratio: 1/1;
    overflow: hidden;
    position: relative;
}

.front-img {
    width: 100%;
    height: 100%;
    border-radius: 10px;
}

.cover {
    object-fit: cover;
}

.contain {
    object-fit: contain;
}

.back {
    transform: rotateY(180deg);
}

.header {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: calc(100% - 20px);
}

.header p {
    font-size: 1.1rem;
    margin-left: auto;
}

.back p {
    text-align: left;
}

.link {
    text-decoration: none;
    color: var(--foreground);
    border: 2.5px solid var(--accent);
    padding: 5px 10px;
    border-radius: 10px;
    margin-top: 10px;
    transition: 0.3s;
}

.link:hover {
    background-color: var(--accent);
}