.page {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 5vh 10vh;
}

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 1150px;
    margin: 40px 0;
}

.left {
    display: flex;
    flex-direction: column;
    width: 450px;
    overflow: hidden;
} 

.right {
    display: flex;
    justify-content: center;
    background-color: transparent;
    aspect-ratio: 1/1;
    width: 350px;
    overflow: hidden;
}

.header-img {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 30px;
}

.section-header {
    font-size: 2.5rem;
    font-weight: 600;
    margin: 40px 0;
}

.card-container {
    display: grid;
    grid-template-columns: repeat(3, 350px);
    grid-template-rows: 1fr;
    column-gap: 50px;
    align-items: center;
    justify-items: center;
}

@media screen and (max-width: 1400px) {
    .header {
        width: 1000px;
    }
    .right {
        width: 300px;
    }
    .card-container {
        grid-template-columns: repeat(3, 300px);
    }
}

@media screen and (max-width: 1200px) {
    .header {
        width: 750px;
    }
    .left {
        width: 350px;
    }
    .right {
        width: 350px;
    }
    .card-container {
        grid-template-columns: repeat(2, 350px);
    }
}

@media screen and (max-width: 1000px) {
    .header {
        width: 610px;
    }
    .left {
        width: 280px;
    }
    .right {
        width: 280px;
    }
    .card-container {
        grid-template-columns: repeat(2, 280px);
    }
}

@media screen and (max-width: 800px) {
    .header {
        flex-direction: column-reverse;
        width: 330px;
    }
    .right {
        width: 330px;
    }
    .card-container {
        grid-template-columns: repeat(1, 330px);
    }
}

@media screen and (max-width: 350px) {
    .header {
        width: 280px;
    }
    .right {
        width: 280px;
    }
    .card-container {
        grid-template-columns: repeat(1, 280px);
    }
}